// primary-color
$primary: $blue;
$primary--hover: $blue--hover;
$primary--active: $blue--active;
// secondary
$secondary: $orange;
$secondary--hover: $orange--hover;
$secondary--active: $orange--active;
// danger-color
$danger: $red;
$danger--hover: $red--hover;
$danger--active: $red--active;
// info
$info: $lightBlue;
$info--hover: $lightBlue--hover;
$info--active: $lightBlue--active;
// warning
$warning: $yellow;
$warning--hover: $yellow--hover;
$warning--active: $yellow--active;
// success
$success: $green;
$success--hover: $green--hover;
$success--active: $green--active;

// checkbox
$checkbox--primary: $blue;
$checkbox--secondary: $orange;
$checkbox--success: $green;
$checkbox--danger: $red;
$checkbox--black: $black;
