// secondary
$secondary: $orange;
$secondary--hover: $orange--hover;
$secondary--active: $orange--active;
// danger-color
$danger: $red;
$danger--hover: $red--hover;
$danger--active: $red--active;
// checkbox
$checkbox--primary: $blue;
$checkbox--secondary: $orange;
$checkbox--success: $green;
$checkbox--danger: $red;
$checkbox--black: $black;
