$black: #000;
$white: #fff;
$gray: lighten($black, 20%);
// primary-color
$blue: #4e92ff;
$blue--hover: #447fde;
$blue--active: #3b6fc2;
// secondary
$orange: #f89052;
$orange--hover: #dc7f47;
$orange--active: #bd6937;
// danger-color
$red: #f05b5b;
$red--hover: #bf4141;
$red--active: #ac2d2d;
// info
$lightBlue: #0fbdb4;
$lightBlue--hover: #0ca099;
$lightBlue--active: #0a8a83;
// warning
$yellow: #ffff31;
$yellow--hover: #eebd1c;
$yellow--active: #d6a917;
// success
$green: #60cf57;
$green--hover: #4aba42;
$green--active: #3da235;

// checkbox
$checkbox--primary: #4e92ff;
$checkbox--secondary: #f89052;
$checkbox--success: #52be80;
$checkbox--danger: #f05b5b;
$checkbox--black: #3c3b3b;
// checkbox disabled
$checkbox-black--disabled: rgba(60, 59, 59, 0.59);
$checkbox-primary--disabled:rgba(78, 146, 255, 0.59);
$checkbox-secondary--disabled: rgba(246, 167, 120, 0.59);
$checkbox-success--disabled: rgba(82, 190, 128, 0.59);
$checkbox-danger--disabled: rgba(240, 91, 91, 0.59);

$bad : "Bad";
$good: "Good";
$veryGood: "Very good";
$excellent: "Excellent";
$brilliant: "Brilliant";
