@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

h1 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 28px;
}

h2 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 17px;
}

h5 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 15px;
}
