$orange: #ffc2a6;
$lightblue: #7dd5c9;
$lightgreen: #bfe79e;
$main-background: #e9eae2;
$second-background: #fcfcfc;
$third-background: #fff;
$text-color-black: #5a5a5a;
$text-color-green: #578b84;
$body-background: #818284;
$menu-background: rgba(20, 32, 56, 0.9);
