@mixin icon__title($content) {
  content: $content;
  color: white;
  display: block;
  padding-top: 45px;
  text-align: center;
  transform: translateX(-12px);
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}
