$orange-color:$orange;
$lightblue-color: $lightblue;
$lightgreen-color: $lightgreen;
$main-bg: $main-background;
$second-bg: $second-background;
$third-bg: $third-background;
$black-text: $text-color-black;
$green-text: $text-color-green;
$sidebar-bg: $menu-background;
$body-bg: $body-background;
