@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400&display=swap');

@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../ofont.ru_Lucida_Grande.ttf) format('ttf');
}

h1 {
  font-size: 2.2em;
  font-family: 'Libre Franklin', sans-serif;
}

h2 {
  font-size: 1.1em;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-family: 'Libre Franklin', sans-serif;
}
